:root{
    /*Cores principais*/
    --darkBlue:hsl(233, 26%, 24%);
    --limeGreen:hsl(136, 65%, 51%);
    --brightCyan:hsl(192, 70%, 51%);

    /*Cores neutras*/
    --grayBlue: hsl(233, 8%, 62%);
    --lightblue: hsl(220, 16%, 96%);
    --lightGray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}



*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100vw;
}

body{
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    margin: auto;
    line-height: 1.5;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
    

}

a{
    text-decoration: none;
    color: inherit;
}

h1, h2, h3{
    font-weight: 400;
    
}

section{
    margin-top: 65px;
    box-sizing: border-box;
}


#navbar{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    padding: 14px;
    position: relative;
    z-index: 4;
    width: 100%;
    box-sizing: border-box;
}

#menu{
    opacity: 0;
    top: 0;
    
    
}

#menu.active{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 87%;
    border-radius: 15px;
    background-color: var(--white);
    text-align: center;
    position: absolute;
    top: 100px;
    left: 20px;
    padding: 15px;
    opacity: 1;
    transition: height 100ms linear, opacity 300ms linear ;
    z-index: 100;
}

#menu li{
    padding: 12px;
    font-size: 14px;
    color: var(--grayBlue);
    
    
}

#menu a:hover{
    color: black;
    padding-bottom: 7px;
    border-bottom: solid 4px var(--limeGreen);

}

#nav-button{
    display: none;
}

#btnMobile{
    background:none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    
}

#buttonMenu{
    position: relative;
    left: 10px;
    
    
    
}

#buttonMenu.active{
    opacity: 0;
    
    
}

#buttonClose{
    opacity: 0;
    position: relative;
    right: 13px;
    
    
    
 
}

#buttonClose.active{
    opacity: 1;
    transition: opacity .2s linear;
    
}



#footer{
    background-color: var(--darkBlue);
    padding: 35px;
    color: var(--white);
    font-size: .85em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
}



.footerDiv{
    display: flex;
    flex-flow: column nowrap ;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding:30px 85px;
    
}

.footerDiv ul{
    list-style: none;
}

#icons{
    display:flex;
    gap: 15px;
    
}


#links{
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
}

#links a:hover{
    color: var(--limeGreen);
}


.attribution{
    background: rgb(58, 60, 177);
    font-size: 18px;
    padding: 30px;
    text-align: center;
    color: white;

}
.attribution a{
    font-weight: bolder;

}

.attribution a:hover{
    border-bottom: dotted white 3px;
    
}

@media screen and (min-width:768px) and (max-width:1268px){
    #footer{
        height: 215px;
        gap: 30px;
        justify-content: space-between;
        align-items:flex-start;
        text-align: left;
    }

    .footerDiv{
        padding: 10px;
    }

    #links{
        height: 100px;
    }
    
}

@media screen and (min-width:1269px) {

    #navbar{
        justify-content: space-evenly;
    }
    
    #btnMobile{
        display:none
    }

    #menu{
        opacity: 1;
        display: flex;
        flex-direction: row;
        background-color: var(--white);
        text-align: center;
        list-style: none;
        position: static;
        padding: 15px;
        transition:opacity 300ms linear ;
        z-index: 100;
        gap: 5px;
        
        
        
    }

    #menu li{
        padding: 12px;
        font-size:.9em;
        color: var(--grayBlue);
        
        
    }

    #menu a{
        box-sizing: border-box;
        padding: 8px;
    }

    #menu a:hover{
        color: black;
        padding-bottom: 27px;
        border-bottom: solid 4px var(--limeGreen);
    
    }

    #nav-button{
        display: block;
    }
    
}