:root{
    /*Cores principais*/
    --darkBlue:hsl(233, 26%, 24%);
    --limeGreen:hsl(136, 65%, 51%);
    --brightCyan:hsl(192, 70%, 51%);


    /*Hover*/
    --hvLimeGreen:hsl(136, 62%, 59%);
    --hvBrightCyan:hsl(192, 63%, 64%);

    /*Cores neutras*/
    --grayBlue: hsl(233, 8%, 62%);
    --lightblue: hsl(220, 16%, 96%);
    --lightGray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --black:hsl(0, 0%, 0%);
}
/*Conteiner das Sections*/


#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

#headerImgs{
    height: 28.7em;
    width: 100%;
    box-sizing: border-box;

     
}

#headerImgs img{
    position: relative;
    bottom: 5.5em;
    height: 35em;
    width: 29em;
    object-fit: cover;
    z-index: 3;
    box-sizing: border-box;
    
}

#headerImgs svg{
    position: relative;
    width: 46.5em;
    height: 50.5em;
    right: 300px;
    bottom: 60em;
    z-index: 0;
    box-sizing: border-box;

}

#headerText{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
    margin-top: 140px;
    align-items: center;
    position: relative;
    z-index: 1;
    
}

#headerText h1{
    
    font-size: 2.3em;
    color: var(--darkBlue);
    font-weight: 400;
}

#headerText p{
    font-size: 18px;
    padding: 14px;
    color: var(--grayBlue);
}

.button{
    color: var(--white);
    border-radius: 28px;
    font-size: .85em;
    padding:12px 13px;
    width: 160px;
    background:linear-gradient(to right, var(--limeGreen),var(--brightCyan));
    
    

}

.button:hover{
    background:linear-gradient(to right, var(--hvLimeGreen),var(--hvBrightCyan));
    transition: .3s linear background;
}

#benefitsSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 40px;
    gap: 50px;
    background-color:var(--lightblue);
    
    
}

#benefitsTitle h2{
    font-size: 1.75em;
}

.benefits p{
    font-size: .85em;
}


#benefitsTitle, .benefits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: var(--grayBlue);
    padding: 8px;
    
}

#benefitsTitle h2, .benefits h3{
    color: var(--black);
    
}

#latestArticlesSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    font-size: .8em;
    color: var(--grayBlue);
    margin-bottom: 5em;
    
}


#latestArticlesSection h2{
    font-size: 2.2em;
    color: var(--black);
    padding: 25px;
    
    

}

.latestArticles{
    margin-top: 45px;
    border-radius: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latestArticles img{
    border-radius: 10px 10px 0 0;
    max-height: 200px;
    width: 95%;
    object-fit: cover;

}

.latestArticles h3{
    color: var(--black);
    font-weight: 400;
    padding: 20px 0;

}

.latestArtText{
    padding: 25px;
    justify-content: flex-start;
    text-align: left;
}

@media screen and (min-width:768px){

    #header{
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding: 105px;
        margin-bottom: 2em;
        margin: auto;
        gap: 110px;
        
    }
    #headerImgs{
        width: 45%;
        height: 39.4em;
        box-sizing: border-box;
        
    }

    #headerImgs img{
        width: 750px;
        height: 950px;
        left: 12.8em;
        bottom: 175px;
        object-fit: cover;
        
        
   
    }

    #headerImgs svg{
        height: 850px;
        width: 900px;
        left: 3.8em;
        bottom: 65.8em;
        
     
    
    }

    #headerText{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        text-align: left;
        width: 390px;
        min-width: 390px;
        bottom: 100px;
       
    }
   

    .button{
        text-align: center;
    }


    #benefitsSection{
        flex-direction: row;
        justify-content: flex-start;

    }

    #benefitsTitle{
        width: 60%;
    }
    
    
    .benefits{
        width: 46%;
        font-size: 1.05em;
        align-items: flex-start;
        text-align: left;
        padding: 1%;
        line-height: normal;
    }

    #latestArticlesSection{
        justify-content: center;
    }

    .articles-title{
        display: block;
        text-align: left;
        width: 95%;
    }
    

    .latestArticles{
        width: 45%;
        
    }

}

@media screen and (min-width:1279px) {

  
    #benefitsTitle{
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 250px;
        padding: 45px;
        box-sizing: border-box;
        justify-content: flex-start;
        text-align: left;
    }

    
    .benefits{
        width: 20%;
        
    }

    .latestArticles{
        width: 22%;
        
    }

    
}


