:root{
    /*Cores principais*/
    --darkBlue:hsl(233, 26%, 24%);
    --limeGreen:hsl(136, 65%, 51%);
    --brightCyan:hsl(192, 70%, 51%);


    /*Hover*/
    --hvLimeGreen:hsl(136, 62%, 59%);
    --hvBrightCyan:hsl(192, 63%, 64%);

    /*Cores neutras*/
    --grayBlue: hsl(233, 8%, 62%);
    --lightblue: hsl(220, 16%, 96%);
    --lightGray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --black:hsl(0, 0%, 0%);
}
/*Conteiner das Sections*/


#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#headerImgs{
    background: url(../images/bg-intro-mobile.svg);
    background-size: cover;
    background-position: top right;
    height: 485px;
    width: 100%;
    z-index: -1;
   
     
}

#headerImgs img{
    position: relative;
    bottom: 190px;
    height: 720px;
    width: 100%;
    object-fit: cover;
    z-index: -2;
}

#headerText{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
    margin-top: 70px;
    
}

#headerText h1{
    
    font-size: 2.3em;
    color: var(--darkBlue);
    font-weight: 400;
}

#headerText p{
    font-size: 18px;
    padding: 14px;
    color: var(--grayBlue);
}

.button{
    color: var(--white);
    border-radius: 28px;
    font-size: 14px;
    padding:14px;
    width: 160px;
    background:linear-gradient(to right, var(--limeGreen),var(--brightCyan));
    align-self: center;
    

}

.button:hover{
    background:linear-gradient(to right, var(--hvLimeGreen),var(--hvBrightCyan));
    transition: .3s linear background;
}

#benefitsSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 40px;
    gap: 50px;
    background-color:var(--lightblue);
    
}

#benefitsTitle h2{
    font-size: 1.75em;
}

.benefits p{
    font-size: .85em;
}


#benefitsTitle, .benefits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: var(--grayBlue);
    padding: 12px;
    
}

#benefitsTitle h2, .benefits h3{
    color: var(--black);
    
}

#latestArticlesSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    font-size: .8em;
    color: var(--grayBlue);
    
}


#latestArticlesSection h2{
    font-size: 2.2em;
    color: var(--black);
    padding: 25px;
    
    

}

.latestArticles{
    margin-top: 45px;
    border-radius: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latestArticles img{
    border-radius: 10px 10px 0 0;
    max-height: 200px;
    width: 95%;
    object-fit: cover;

}

.latestArticles h3{
    color: var(--black);
    font-weight: 400;
    padding: 20px 0;

}

.latestArtText{
    padding: 25px;
    justify-content: flex-start;
    text-align: left;
}


